$deg: 45deg;
.swiper-container{
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    -webkit-tap-highlight-color: transparent;
    .swiper-wrapper{
        transform: translate3d(0, 0, 0);
        transform-origin: 50% 50%;
        backface-visibility: hidden;
        box-sizing: content-box;
        margin: 0 auto;
        perspective: 1000px;
        perspective-origin: 50% 50%;
        transform-style: preserve-3d;
        .swiper-slide{
            position: absolute;
            -webkit-box-reflect: below 1px linear-gradient(transparent 80%,rgba(0,0,0,.3));
            transition: all 350ms ease-out;
            backface-visibility: hidden;
        }
    }
}